# Day 1: Calculate a circle area

In [1]:
import math

pi = math.pi
radius = 4

area = pi*radius**2
area

50.26548245743669

# Day2: Read a csv file

In [2]:
import pandas as pd

df = pd.read_csv('test.csv')
df

           name  age               hobby
0    tony stark   36     building robots
1  thor odinson  420    swing the hammer
2  peter parker   19   swing in new york

# Day3: How to create a function

In [4]:
def add(a,b):
    c= a+b
    return c

In [6]:
add(10,2)

12

# Day 4: What is a list?

In [3]:
var_int = 1
var_str = 'pustekuchen'
var_float = 1.2

var_list = [var_int, var_str, var_float]
var_list

[1, 'pustekuchen', 1.2]

In [4]:
var_list_range = list(range(1,11))
var_list_range

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Day 5: How to get data with !wget

In [ ]:
!wget 'https://gitlab.com/andras.simonyi/10_days_AI_training_data/raw/master/AmesHousing.csv?inline=false' -O data/AmesHousing.csv